@import "../variables";

  .btn_content_product {
    align-items: center;
    background-color: $color-secondary;
    bottom: 0px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 18px;
    padding: 7px 0px 9.41px 0px;
    position: absolute;
    width: 100%;

    img {
      margin-right: 14px;
    };
  };
