@import "../variables";

.footer_container {
  background-color: $color-light;
  color: $color-black;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  padding: 8px 0px 9px 0px;
  text-align: center;
  width: 100%;
}