@import "../variables";

.home_container {
  width: 100vw;
  
  .section_products_container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 116px 0px 172px 0px;
    width: 100%;
    
    .list_products_content{
      align-content: space-between;
      display: flex;
      flex-wrap: wrap;
      height: 601px;
      justify-content: space-between;
      list-style: none;
      width: 938px;
    };
  };
};
