@import "../variables";

.home_container {
  width: 100%;
  
  .section_products_container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 116px 0px 172px 0px;
    width: 100%;
    
    .list_products_content{
      align-content: space-between;
      display: flex;
      flex-wrap: wrap;
      height: 601px;
      justify-content: space-between;
      list-style: none;
      width: 938px;
    };
  };
};

@media only screen and (max-width: $screen-size-mobile) {
  .home_container {
    .section_products_container {
      margin-top: 18px;

      .list_products_content {
        justify-content: space-around;
      };
    };
  };
};

@media only screen and (min-width: $screen-size-mobile) and (max-width: $screen-size-laptop) { 
  .home_container {
    .section_products_container {
      margin-top: 18px;

      .list_products_content {
        justify-content: space-around;
      };
    };
  } ;
};
